body{
    background-color: #dee0ff;
    padding: 25px;
}

.table-bordered {
    border: 1px solid #dee2e6;
    background: #fff;
}

td.graph-container{
    width: 200px;
}
svg{
    height: 50px;
}

