body{
    background-color: #dee0ff;
    padding: 25px;
}

.table-bordered {
    border: 1px solid #dee2e6;
    background: #fff;
}

td, 
td.graph-container{
    width: 200px;
}

td.value-container big,
td.value-container small{
    margin-right: 10px;
}

svg{
    height: 50px;
}

